body {
	cursor: default;
	background-color: #cdcdcd;
	vertical-align: top;
	display: inline-block;
	font-size: 1em;
	color: black;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	-WEBKIT-USER-SELECT: NONE; /* SAFARI, CHROME */
    -KHTML-USER-SELECT: NONE; /* KONQUEROR */
    -MOZ-USER-SELECT: NONE; /* FIREFOX */
    -MS-USER-SELECT: NONE; /* IE */
    USER-SELECT: NONE; /* CSS3 */
	border: 8px;
	padding: 8px;
	border-style: dashed;
	border-color: #404040;
}
#money {
	color: #008800;
	display: inline-block;
	font-size: 3em;
	background-color: #88f088;
	
	border: 6px;
	border-style: double;
	border-color: #008800;
	border-radius: 3px;
	
	padding: 4px;
	width: auto;
}
#rate {
	color: #008800;
	margin: 8px;
}
td {
	padding: 0px;
}
#grid {
	margin: 8px;
	display: inline-block;
	vertical-align: top;
	border-collapse: collapse;
	border: 8px;
	border-style: outset;
	border-color: #888888;
}
#selection {
	display: inline-block;
	vertical-align: top;
}
#achievements {
	display: inline-block;
	margin: 8px;
	right: 0px;
	
	
}
.sprite {
	display: inline-block;
	text-align: center;
	position: relative;
	width: 100px;
	height: 100px;
	background-size: 100% 100%;
}
.sprite:hover {
	-webkit-filter: brightness(3);
	
}
.sprite:hover .tip {
	visibility: visible;
}
.tip {
	cursor: default;
	font-size: 1.5em;
	color: black;
	visibility: hidden;
	display: flex;
	align-items: center;
	position: absolute;
	top: 0px;
	left: 0px;
	width: auto;
	height: auto;
	background-size: 100% 100%;
	z-index: 0;
}
.progress {
	height: 4px;
	position: absolute;
	bottom: 0px;
}
.select {
	color: #008800;
	font-size: 2em;
	text-align: center;
}
.selected {
	border: 8px;
	border-radius: 8px;
	border-style: inset;
	background-color: #ffffff;
	background-repeat: no-repeat;
	border-color: #0000ff;
	width: 84px;
	height: 84px;
}
.achievement {
	font-size: 3em;
	color: #404040;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 16px;
	padding: 4px;
	background-color: #808080;
	
	border: 8px;
	border-style: double;
	border-radius: 8px;
	border-color: #404040;
	
	list-style-image: url('sprites/locked.png');
}
.achieved {
	color: #006600;
	background-color: #c6ffb3;
	border-color: #006600;
	
	list-style-image: url('sprites/check.png');
	
	display: list-item;
	visibility: visible;
}
.smallMargin {
	margin: 4px;
}
.hidden {
	visibility: hidden;
	display: none;
}
.button {
	font-size: 2em;
	transition-duration: 0.5s; /* delays for 1 second */
	cursor: default;
	
	display: inline-block;
	width: auto;
	height: auto;
	
	background-color: #808080;
	
	border: 8px;
	border-style: outset;
	border-color:#909090;
	border-radius: 4px;
	
	padding: 4px;
}
.button:hover{
	background-color: #b0b0b0;
	border-color: #c0c0c0;
}
.button:active {
	background-color: #505050;
	border-color: #606060;
}
